.slider {
    height: 300px;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    background-color: rgb(0, 0, 0, 0.3);
}

.carousel-slider {
    height: 100%;
}

.slider::before {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.0) 0%,
      rgba(0, 0, 0, 0.0) 70%,
      /* // These three 'smooth' out the fade. */
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.7) 90%,
      rgba(0, 0, 0, 0.9) 95%,
      /* // Solid to match the background. */
      rgba(0, 0, 0, 1.0) 100%
    );
  }

.sliderElement > h2 {
  color: #fff;
  font-size: 42px;
  height: 200px;
}

.sliderElement {
    text-align: center;
}